body, div, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 300px); 
  grid-gap: 20px; 
  background-color: yellow;
}

.image-grid img {
  width: 100%; 
  height: auto; 
}
.image-grid img {
  width: 100%; 
  height: auto; 
  opacity: 0.7; 
  filter: brightness(1);
}

body{
    margin: 5px;
    /* background-color: yellow ; */
}