body, div, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-grid1 {
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;

}




.image-grid1 img {
  width: 200px;; 
  height: 200px; 
  opacity: 0.7; 
  filter: brightness(1);
  
}


.image-grid2 img {
  width: 200px;; 
  height: 200px; 
  opacity: 0.7; 
  filter: brightness(1);
  
}

.image-grid1{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly
}

.image-grid2{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-color: yellow;
}
/* .parent_imggrid{
  display: flex;
} */



@media screen and (width<767px) {
  .image-grid1 img{
    width:fit-content;
    height: 100px;
  }

  .image-grid2 img{
    width: 100px;
    height: 100px;
  }
 

}