body{
  width:100vw;
  height:100vh;
}


.navbar{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */

    /* background-color: #f5f5f5; */
    /* padding: 10px; */
    margin: 0;
    /* border-bottom: 1px solid #e7e7e7; */


}

.element1{
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 95%; */
    margin: 0;
    padding: 0;
    left: 0%;
    top: 0%;
    /* background-color: #f5f5f5; */
    /* border-bottom: 1px solid #e7e7e7; */

}



#share.hover{
  fill:aqua;
  background-color: blue;


}

/* .Body{
    background-color: black;
    width:100%;
    height:100%;
} */

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  /* position: absolute; */
  top: 70%;
  left: 45%;
  font-family: 'Quicksand', sans-serif;
  
}

.btn:hover {
  background: #33a7f0;
  text-decoration: none;
}

.navbar{
  /* background-color: red; */
  padding-bottom: 2px;

  ;
}

.element1 {
  /* background-color: rgb(236, 214, 13); */
  /* padding-bottom: 1px; */
  display: inline-block;
  margin-left: 0px;
}


.element1{
  display: inline-block;
  margin-left:-20px;
}


.nav{
  margin-top: 0px;
}




.element2{
  margin-left:95%;
}



video{
  width:100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}


.Body, .nav{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  display: flex;
  flex-direction: column;
  color:white
}



.Body{
  justify-content: center;

}


.title1{
  justify-content: center;
  font-family: 'Jost', sans-serif;
  display: inline-block;
  position: absolute;
  top: 4.3rem;
  
}

.title1_parent{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}









.element2{
  position: absolute;
  top:1%;
}


.radio1question{
  top:30%;
  position: absolute;
  color: #e5e7e9;
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  margin-left:20px;
  border-left: 5px solid #08659e;
  
  
}


.radio1answer1{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:15%;
  left: 70%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;
}

.salt-radio{
  margin-left: 150px;
}


.radio1answer2{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:30%;
  left: 70%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;
}


.radio1answer3{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:45%;
  left: 70%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;
}


.radio1answer4{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:60%;
  left: 70%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;
}


.radio1answer5{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:75%;
  left: 70%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;
}

.radio1answer1:hover{
  border: 2px solid #08659e;
  /* border-bottom: 5px solid #08659e; */
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}
.radio1answer2:hover{
  border: 2px solid #08659e;
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}

.radio1answer3:hover{
  border: 2px solid #08659e;
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}

.radio1answer4:hover{
  border: 2px solid #08659e;
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}

.radio1answer5:hover{
  border: 2px solid #08659e;
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}



.spicy-radio{
  margin-left: 150px;
}



.unami-radio{
  margin-left: 150px;
}

.nextradio{
  background-color: #08659e;
  display: inline-block;
  position: absolute;
  top:80%;
  height: 30px;
}



.radio1question{
  top:10%;
}

.title2{
  left:0px;
  margin:0px;
  padding:0px;
  text-align: center;
  align-items: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  flex-wrap: wrap;
  top:0px;
  position: absolute;
  top:7rem;
  
}

.title2a{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}
.title2b{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  
}

.answer_1_parent{
  font-size: 20px;
  color: #e5e7e9;
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
  padding: 50px;
  margin-top: 10rem;
}
.answer1{

  /* width:30rem;
  position: relative;
  margin-top:5rem;
  margin-left:30rem;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; */
  
}

.parent1_button{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

}


.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  /* position: absolute; */
  top: 70%;
  left: 45%;
  font-family: 'Quicksand', sans-serif;
  
}

.btn:hover {
  background: #33a7f0;
  text-decoration: none;
}



@media screen and (width<=700px){
  .title1_parent{
    font-size: 0.5rem;
    
  }

.title2{
  font-size: 1.5em;
  left:0;
}




/* .answer1{
  font-size: 1em;
  margin-left:0;
  width:100%vw;
  padding:50px;
  display: flex;
  flex-wrap: wrap;
} */


/* 

.btn{
  top:70%;
  left: 25%;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


} */

.nav{
  width:200px;
}

.Navbar maintitle{
  width: 200px;
}
}
