.nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #fff; */
  border-bottom:2px solid white;
  /* background-color: red; */
  padding: 10px;
  font-size: 20px;
  height:2em;
  width:100vw;
  display: flex;
  flex-wrap: wrap;

}


.maintitle{
  font-family: 'Jost', sans-serif;
  
}


@media screen and (width<=767px) {
  .nav{
    font-size: 10px;
    width:100vw;
    height:2em;
    justify-content: space-between;
    padding:30px;
    margin:0;
    padding: 0;

  }

    
}