.neutraltop {
  position: absolute;
  padding: 30px;
  top:0%;
  left:5%;
  color:rgb(0, 0, 0);
  font-weight: 800;
  font-family: 'Jost', sans-serif;
  font-size:100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.nresult {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.nresultbody {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  /* justify-content: space-between; */
}

.nresultshare {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: 45%;
  font-family: "Quicksand", sans-serif;
}

.nresultshare:hover {
  background: #33a7f0;
  text-decoration: none;
}



.nresultimg{
    height:10px;
    width:10px;
}

.nresulttitle{
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    font-family: 'Jost', sans-serif;
}


.ncard {
  background-color: rgb(211, 212, 211);
  margin: 120px;
  border-radius: 10px;
  /* border-shadow:1px solid red 10px 10px 10px 10px; */
  box-shadow: 21px 21px 21px 21px #3f3f3e;

}

.ncardname {
  display: inline-block;

  font-weight: 400;
  font-size: 70px;
  font-family: "Indie Flower", cursive;
}

.ncarddesc {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  width: 300px;
}

.ncardbody {
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  width:300px;
}

.ncard {
  padding: 50px;
  margin-top: 5%;
  display: flex;
  /* justify-content:center ; */
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap:200px;
  margin-right:200px;
  

}

.ncardlink {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

.ncardimg {
  display: inline-block;
  top: 1%;
}

.ncardar{
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  margin-left: 20px;
}
.ncardinfo {
  display: inline-block;
  width: 30%;
  padding: 0px;
}

.parent_neutralfood{
  width:350px;
  height: 500px;
}


@media screen and (width<=767px){

  .nresulttitle{
    font-size: 2rem;
  }

.nresultbody{
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  /* justify-content: space-between; */ 
}

.nresultshare{
  /* display: flex; */
  justify-content: center;
  left:25%;
  top:2%;
  bottom:5%;
}

.ncard{
  left: 0%;
  margin: 0px;
  padding: 0px;
  margin-top:150px;
  box-shadow: none;
  margin-top: 200px;
  width:100vw;
  gap:10px;
  margin-top: 50px;
}
.parent_neutralfood{
  left:0;
  width:300px;
  height: 300px;;
}


.ncardname{
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  justify-content: space-between; 
  margin-left: 85px;
}

.ncardinfo{
  width:380px;
  margin-left:10px; 
}


  .neutraltop{
    padding-left: 0px;
     margin-right: 0px;
  }
  
  
  .ncardname{
    margin-left: 0px;
  }

  .cookingfood{
    width:400px;
    background-color: red;
    left:5%;
    display: none;

  }

 

  .nresult{
    font-size: 1rem;;
  }
}

