.neutraltop {
  /* background-color: yellow; */
  position: absolute;
  /* top: 10%;   */
  padding: 30px;
  padding-top: 200px;
  top:0%;
  left:5%;
  color:rgb(0, 0, 0);
  font-weight: 800;
  font-family: 'Jost', sans-serif;
  font-size:100px;
}


.nresult {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.nresultbody {
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  /* justify-content: space-between; */
}

.nresultshare {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  /* top: 40%; */
  left: 45%;
  font-family: "Quicksand", sans-serif;
  /* margin: 30px; */
  /* margin-top: 30px; */
}

.nresultshare:hover {
  background: #33a7f0;
  text-decoration: none;
}



.nresultimg{
    height:10px;
    width:10px;
}

.nresulttitle{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    font-family: 'Jost', sans-serif;
}


.ncard {
  /* padding:500px; */
  background-color: rgb(211, 212, 211);
  margin: 200px;
  border-radius: 10px;
  /* border-shadow:1px solid red 10px 10px 10px 10px; */
  box-shadow: 21px 21px 21px 21px #3f3f3e;
}

.ncardname {
  display: inline-block;

  font-weight: 400;
  font-size: 70px;
  font-family: "Indie Flower", cursive;
}

.ncarddesc {
  display: inline-block;
  /* margin-left: 50px; */
  /* font-family: 'Indie Flower', cursive;
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.ncardbody {
  display: inline-block;
  /* margin-left: 50px;
    margin-top: 50px; */
  font-size: 20px;
  font-weight: 100;
  /* text-align: center;  */
  /* padding-right: 400px; */
  text-align: left;
  /* width:40%; */
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.ncard {
  padding: 50px;
  margin-top: 10%;
}

.ncardlink {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

.ncardimg {
  display: inline-block;
  /* margin-left: 50px; */
  position: relative;
  left: 15%;
  top: 1%;
}

.ncardar{
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  margin-left: 20px;
}
.ncardinfo {
  display: inline-block;
  /* margin-left: 50px; */
  /* position: relative; */
  /* left:40%; */
  /* top:1%; */
  width: 40%;
  padding: 0px;
}



@media screen and (width<=767px){


.nresultbody{
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  /* justify-content: space-between; */ 
}

.nresultshare{
  /* display: flex; */
  justify-content: center;
  left:25%;
  top:2%;
  bottom:5%;
}

.ncard{
  left: 0%;
  margin: 0px;
  padding: 0px;
  margin-top:150px;
  box-shadow: none;
  margin-top: 200px;
}
.ncardimg{
  left:0;
  width:200px;
}
img{
  width:400px;
  height:400px;
}

.ncardname{
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  justify-content: space-between; 
  margin-left: 85px;
}

.ncardinfo{
  width:380px;
  margin-left:10px; 
}


  .neutraltop{
    /* width:100%; */
    /* background-color: red; */
    width:375px;
    padding-left: 0px;
    
  }
  

  .cookingfood{
    width:400px;
    background-color: red;
    left:5%;
    display: none;

  }

  .image-grid{
    /* display: none; */
    width: 400px;
    /* height: 400px; */
    size: 400px;
  }


}

