




.btn333 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 90%;
  font-family: 'Quicksand', sans-serif;
  
}

.btn333:hover {
  background: #33a7f0;
  text-decoration: none;
}


.radio333question{
  top:10%;
  position: absolute;
  color: #e5e7e9;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin-left:10px;
  border-left: 5px solid #08659e;


}

.order{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 200px;
  position: absolute;
  left:10%;
  top:60%;

  /* top:10%; */
  /* background-color: red; */
  /* width: 300px; */
}

.radio333answer1{
  width:400px;
  color: white;
  border:2px solid #fdfdfd;

  padding:50px;
  border-radius: 15px;
  
}

.radio333answer1:hover{
    box-shadow: 0px 0px 50px 0px #08659e;
    cursor: pointer;
    /* border-bottom: 2px #08659e; */
}


.radio333answer2:hover{
    box-shadow: 0px 0px 50px 0px #08659e;
    cursor: pointer;
    /* border-bottom: 2px #08659e; */
}


.radio333answer2{
  width:400px;
  color: white;
  border:2px solid #ffffff;
  /* box-shadow: 0px 0px 10px 0px #08659e; */
  padding:50px;
  border-radius: 15px;
}


.motivated-radio{
  margin-left: 150px;
}
.demotivated-radio{
  margin-left: 150px;
}


@media screen and (width<=767px) {
  .radio333question{
    top: 5%;
    font-size: 20px;
    width:300px;
    margin-left:1px;
    padding-left: 5px;;
  }




.btn333 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 89%;
  left: 70%;
  font-family: 'Quicksand', sans-serif;
  
}

.order{
  flex-direction: row;
  left:0;
  margin:5px;
  width: 100vw;
  top:40%;
  gap:50px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}


.radio333answer1{
  width:15rem;
  color: white;
  border:2px solid #fdfdfd;
  padding:40px;
  border-radius: 15px;
  margin: 10px;
}

.radio333answer2{
  width:15rem;
  color: white;
  border:2px solid #fdfdfd;
  padding:40px;
  border-radius: 15px;
  margin: 10px;
}

.motivated-radio{
  margin-left: 50px;
}
.demotivated-radio{
  margin-left: 50px;
}

}