.radio333answer1{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:60%;
  left: 10%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;

}

.radio333answer1:hover{
  border: 2px solid #08659e;
  /* border-bottom: 5px solid #08659e; */
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}

.radio333answer2{
  color: #e5e7e9;
  position: absolute;
  font-size: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  top:60%;
  left: 50%;
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding:40px;
  width:400px;
  border-radius: 10px;

}

.radio333answer2:hover{
  border: 2px solid #08659e;
  /* border-bottom: 5px solid #08659e; */
  box-shadow: 0px 5px 0px 0px #08659e;
  cursor: pointer;
}




.btn333 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 90%;
  font-family: 'Quicksand', sans-serif;
  
}

.btn333:hover {
  background: #33a7f0;
  text-decoration: none;
}


.radio333question{
  top:10%;
  position: absolute;
  color: #e5e7e9;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin-left:10px;
  border-left: 5px solid #08659e;


}


@media screen and (width<=767px) {
  .radio333question{
    top: 5%;
    font-size: 20px;
    width:300px;
    margin-left:1px;
    padding-left: 5px;;
  }


  .radio333answer1{
    top:36%;
    width:200px;
  }

  .salt-radio{
    margin-left: 10px;
  }
  .radio333answer2{
    top:58%;
    width:200px;
    left:10%;
  }
  .spicy-radio{
    margin-left: 10px;
  }


.btn333 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 20px;
  background: #08659e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 83%;
  left: 70%;
  font-family: 'Quicksand', sans-serif;
  
}


}